.nav-header {
    display:            flex;
    justify-content:    space-between;
    width:              100%;

    @apply
        px-2 pt-5 text-[14px]
        sm:px-4 md:px-6 md:text-[16px]
        lg:px-6 lg:pt-10;
}

.nav-menu p {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-menu.active p {
    opacity: 1;
    transition: opacity 0.3s ease;
}
