@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom pages */
@import "./pages/index.css";
@import "./fonts.css";

body {
    background:         #000000;
    color:              #D9D9D9;
    font-family:        'NHaasGrotesk', sans-serif;
}

.text-roll {
    overflow: hidden;
    position: relative;
    cursor:   pointer;
    width:    fit-content;
}

.text-roll_magic {
    display:        flex;
    flex-direction: column;
    transition:     transform 200ms cubic-bezier(0.25, 1, 0.5, 1);
    transform:      translateY(0);
}
