@font-face {
    font-family: 'NHaasGrotesk';
    src: url('/fonts/NHaasGroteskDSPro-15UltTh.woff2') format('woff2');
    font-weight: 100; /* Ultra Thin */
    font-style: normal;
}

@font-face {
    font-family: 'NHaasGrotesk';
    src: url('/fonts/NHaasGroteskDSPro-25Th.woff2') format('woff2');
    font-weight: 200; /* Thin */
    font-style: normal;
}

@font-face {
    font-family: 'NHaasGrotesk';
    src: url('/fonts/NHaasGroteskDSPro-55Rg.woff2') format('woff2');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'NHaasGrotesk';
    src: url('/fonts/NHaasGroteskTXPro-55Rg.woff2') format('woff2');
    font-weight: 400; /* Regular (Text) */
    font-style: normal;
}

@font-face {
    font-family: 'NHaasGrotesk';
    src: url('/fonts/NHaasGroteskTXPro-65Md.woff2') format('woff2');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'NHaasGrotesk';
    src: url('/fonts/NHaasGroteskTXPro-75Bd.woff2') format('woff2');
    font-weight: 700; /* Bold */
    font-style: normal;
}
